.clans-container {
    background-color: rgb(18, 18, 18);
    padding: 20px;
    width: 100%;
    max-width: 1400px;
    border-radius: 8px;
}
.clans-container h2 {
    text-align: left;
}
.clans-inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}